
/**
 * @file n7.css
 * @author giorno
 * @package N7
 *
 * Global stylesheet for solution.
 */
 
html
{
	height:							100%;
	margin:							0px;
	overflow-y:						scroll;			/* FF hack to have vertical scrollbar always present */
}

body
{
	margin:							0px;
	background-color:				#99bbdd;
	/*background-color:				#89abcd;*/
	height:							100%;
	_height:							auto;
}

body,td,input,select
{
	font-family:					Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	font-size:						12px;
	vertical-align:					top;
}

input,select
{
	font-size:						12px;
	padding:						1px;
}
tbody
{
	margin:							0px;
	padding:						0px;
}
table
{
	border-spacing:					0px;
}

td
{
	padding:						0px;
}

table.N7H100P,td.N7H100P
{
	height:							100%;
}

/* For tabs content layout */
div
{
	float:							left;
}

acronym
{
	cursor:							help;
}

a
{
	text-decoration:				none;
	color:							#003387;	/* should be consistent with framework colors */
	cursor:							pointer;
}
a:hover
{
	text-decoration:				underline;
}

/* Container for application specific content */
td#n7_app_container
{
	padding-bottom:					16px;
}

/* Container for application tabs */
td.n7_appicon
{
	vertical-align:					bottom;
}

/* 16px high separator field */
td.N716pxH
{
	padding-left:			8px;
	padding-right:			8px;
	height:					16px;
	padding-top:			2px;
	color:					#878787;
}

/* Container for footer info (copyright etc.) and/or anchors for tabs */
td.n7_pool_foot
{
	text-align:						left;
	padding-left:					16px;
	padding-right:					16px;
	padding-bottom:					16px;
	padding-top:					16px;
	/*border-top:						1px dashed #e7e7e7;*/
	background-color:				#ffffff;
}

td.n7_main_ctrl
{
	background-color:				#89abcd;
	
}
td.n7_icons
{
	border-bottom:					16px solid #89abcd;	/* should be consistent with framework UICMP layout background */
}
td.n7_menu
{
	padding-left:					16px;
	padding-right:					16px;
	background-color:				#e7e7e7;

}
td.n7_foot_hdr,td.n7_menu
{
	height:							24px;
	vertical-align:					middle;
}
td.n7_foot_hdr
{
	padding:						16px;
	padding-top:					8px;
	padding-bottom:					4px;
	background-color:				#e7e7e7;
	/*border-top:						1px solid #ffffff;*/	/* should be consistent with framework UICMP head deco */
	border-bottom:					1px solid #d5d5d5;	/* should be consistent with framework UICMP head deco */
}

/* Applications icons row item */
td.n7_app_icons_ri
{
	
	min-width:						12px;					/* so it can be used for gap effect */
	vertical-align:					middle;
}
div.n7_app_ico_name
{
	font-size:						12px;
	white-space:					nowrap;
	padding-left:					8px;
	padding-right:					8px;
	/*padding-top: 					4px;
	padding-bottom:					4px;*/
	color:							#ffffff;
}
td.n7_app_ico_act div.n7_app_ico_name
{
	font-size:						14px;
	font-weight:					bold;
	color:							#444444;
}
div.n7_app_ico
{
	cursor:							pointer;
	/*padding-right:					4px;*/
}
td.n7_app_ico
{
	padding-right:					2px;
	padding-left:					2px;
	border-top:						6px solid transparent;
}
/* Used in case first app is inactive */
td.n7_app_ico_1st
{
	padding-left:					4px;
}
td.n7_app_ico_act
{
	padding-right:					0px;
	padding-left:					0px;
	border-top:						0px;
}
td.n7_app_ico_bg
{
	
}
td.n7_app_ico_act td.n7_app_ico_bg
{
	background-color:				#e7e7e7;
	/*border-bottom:					1px solid #ffffff;*/
}

td.n7_app_ico td,td.n7_app_ico_act td
{
	min-width:						8px;
	min-height:						26px;
	height:							26px;
	background-color:				#598bad;
	vertical-align:					middle;
}
td.n7_app_ico td.n7_app_ico_l
{
	background:						url(../img/n7_app_ia.gif) no-repeat top left;
}
td.n7_app_ico td.n7_app_ico_r
{
	background:						url(../img/n7_app_ia.gif) no-repeat top right;
}
td.n7_app_ico_act td
{
	background-color:				#e7e7e7;
	height:							32px;
	min-height:						32px;
}
td.n7_app_ico_act td.n7_app_ico_l
{
	background:						url(../img/n7_app_a.gif) no-repeat top left;
}
td.n7_app_ico_act td.n7_app_ico_r
{
	background:						url(../img/n7_app_a.gif) no-repeat top right;
}
div.n7_mi_txt
{
	color:							#444444;
}
td.n7_mi
{
	padding-right:					8px;
}
/* Container of the widget */
td.n7_wwg
{
	white-space:					nowrap;
	vertical-align:					top;
}
/* Separator cell */
td.n7_wwg_menu_sep
{
	padding-left:					8px;
	padding-right:					8px;
	color:							#666666;
}
/* Style of widgets in POOL_FOOTER */
td.n7_wwg_footer
{
	vertical-align:					bottom;
	padding-top:					16px;
}

a.n7_wwg_mi,div.n7_wwg_mi
{
	color:							#ffffff;
	text-decoration:				none;
	cursor:							pointer;
	font-weight:					bold;
}
a.n7_wwg_mi:hover,div.n7_wwg_mi:hover
{
	text-decoration:				underline;
	color:							#ffffff;
}